<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="adminHeader">
<head>
	
</head>
<body>
	
		 <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                  	    <img class="rounded-circle me-lg-2" src="/img/kimeyung2.gif" alt="" style="width: 60px; height: 60px;">
                    <div>
                    	<h4 class="mb-0"><span th:text="${memberName}"></span>관리자님 환영합니다.</h4>
                    </div>
                    	<img class="rounded-circle me-lg-2" src="/img/kimeyung2.gif" alt="" style="width: 60px; height: 60px;">
                </div>
            </nav>
            <!-- Navbar End -->
	
</body>
	</th:block>
</html>