<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- configFragment -->
<th:block th:fragment="configFragment">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<!--<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">-->
	<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css?after}" type="text/css">

	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon" />
	<link th:href="@{/img/favicon.png}" rel="apple-touch-icon" />
	
	<!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</th:block>

</html>